@page "/Resource/AddResourceToLeaseOrderLine/{LeaseId:guid}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
@inject IModalDialogService ModalDialog

@using Delpin.WebClient.Pages.LeaseStuff;


<h3>Vælg Resource Til OrderLinjen</h3>
<br>
<br />


<table class="table">
    <thead>
        <tr>
            <th>Ressource Nr</th>
            <th>Ressource Navn</th>
            <th>Ressource Pris</th>

            <th> </th>
            <th> </th>
        </tr>
    </thead>

    @if (rescourcelist == null)
    {
        <p><em></em></p>
    }
    else
    {
        <tbody>
            @foreach (var resource in rescourcelist)
            {
                <tr>
                    <td>@resource.ResourceNo</td>
                    <td>@resource.ResourceName</td>
                    <td>@resource.ResourcePrice</td>

                    <td>
                        <button @onclick="@(() => AddResourceToLeaseOrderLine_Clicked(resource))" class="btn btn-primary float-right mr-3">Tilføj Resource</button>
                    </td>
                </tr>
            }
        </tbody>
    }
</table>

@code {

    [Parameter] public Guid LeaseId { get; set; }

    //public ResourceViewModel.ResourceDetails resource = new ResourceViewModel.ResourceDetails();

    private List<ResourceViewModel.ResourceDetails> rescourcelist;

    bool Isloading = false;

    protected override async Task OnInitializedAsync()
    {
        Isloading = true;
        rescourcelist = await http.GetFromJsonAsync<List<ResourceViewModel.ResourceDetails>>($"/gateway/GetAll");
        Isloading = false;
    }

    async void AddResourceToLeaseOrderLine_Clicked(ResourceViewModel.ResourceDetails resource)
    {
        try
        {
            ModalDialogParameters parameters = new ModalDialogParameters();
            //parameters.Add("ResourceId", Id);
            parameters.Add("Resource",resource);
            parameters.Add("LeaseId", LeaseId);
            ModalDialogResult result = await ModalDialog.ShowDialogAsync<AddLeaseOrderLine>("", new ModalDialogOptions(), parameters);

        }
        catch (Exception e)
        {

            Console.WriteLine(e);
        }

    }
}
