<div class="top-row pl-4 navbar navbar-dark bg-primary">
    <a class="navbar-brand h1" style="font-size : 1.7rem;" href="">Delpin</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass bg-primary" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Hjem
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="customer/search" @onclick="()=>expandSubNav = false" >
                <span class="oi oi-person" aria-hidden="true"></span> Kunder
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="resource/search" @onclick="()=>expandSubNav = !expandSubNav">
                <span class="oi oi-cart" aria-hidden="true"></span> Resourcer
            </NavLink>
            @*@if (expandSubNav)
            {
                <NavLink class="expand-menu" href="resource/search">
                    <span>Sub1</span>
                </NavLink>
                <NavLink class="" href="resource/search">
                    <span>Sub2</span>
                </NavLink>
            }*@
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="lease/search"  @onclick="()=>expandSubNav = false">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Ordre
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool expandSubNav;

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
