
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
@inject IModalDialogService ModalDialogService

<h3>Tilføj OrderLinje</h3>

<AddLeaseOrderLineForm ButtonText="Tilføj OrderLinje" LeaseOrderLine="@LeaseOrderline"
              OnValidSubmit="@Create" />
@if (Isloading == true)
{
    <i class="fa fa-circle-o-notch fa-spin myicons text-center mt-2" aria-hidden="true"></i>
}





@code {

    [Parameter] public Guid LeaseId { get; set; }

    [Parameter] public Guid ResourceId { get; set; }

    LeaseViewModel.AddLeaseOrderLineToLeaseOrder LeaseOrderline = new LeaseViewModel.AddLeaseOrderLineToLeaseOrder();
    ResourceViewModel.ResourceDetails resource = new ResourceViewModel.ResourceDetails();

    bool Isloading = false;

    async Task Create()
    {
        LeaseDto.AddLeaseOrderLineToLeaseOrder leaseDto = AddLeaseOrderLineToLeaseOrderMapper.Map(LeaseOrderline);

        Isloading = true;
        try
        {

            var LeaseOrderLineId = Guid.NewGuid();
            var RessourceId = Guid.NewGuid();
            var IsReturned = false;
            var response = await http.PostAsJsonAsync
            (
                $"gateway/lease/AddLeaseOrderLine?LeaseId ={ leaseDto.LeaseId}" +
                $"LeaseOrderLineId ={ LeaseOrderLineId}" +
                $"StartDate ={ leaseDto.StartDate}" +
                $"EndDate ={ leaseDto.EndDate}" +
                $"IsReturned ={ IsReturned}" +
                $"ResourceName ={ resource.ResourceName}" +
                $"ResourcePrice ={ resource.ResourcePrice}" +
                $"Quantity ={ leaseDto.Quantity}"
                ,leaseDto

            );

            if (response.IsSuccessStatusCode)
            {

                await js.InvokeVoidAsync("alert", $"OrderLinjen er nu tilføjet!");

            }
            else
            {
                await js.InvokeVoidAsync("alert", $"Noget gik galt! Prøv igen.");
            }

        }
        catch (Exception)
        {

            await js.InvokeVoidAsync("alert", $"Noget gik galt! Prøv igen.");
        }

        Isloading = false;
    }

}