@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
@inject IModalDialogService ModalDialogService

<h3>Ændre i ordre linjen</h3>

<EditLeaseOrderLineForm ButtonText="Gem" LeaseOrderLineDetails="@LeaseOrderLineDetails"
           OnValidSubmit="@Edit" />
@if (Isloading == true)
{
    <i class="fa fa-circle-o-notch fa-spin myicons text-center mt-2" aria-hidden="true"></i>
}

@code {
    [Parameter] public LeaseViewModel.LeaseOrderLineDetails LeaseOrderLineDetails { get; set; }
    [Parameter] public Guid LeaseId { get; set; }

    bool Isloading = false;
    bool everythingWentGood = true;


    async Task Edit()
    {
        Isloading = true;

        LeaseReadModelsDto.LeaseOrderLineDetails leaseDto = LeaseOrderLineDetailsMapper.Map(LeaseOrderLineDetails);

        try
        {
            HttpResponseMessage response = null;

            response = await http.PutAsJsonAsync
                ($"gateway/lease/leaseorderline?LeaseOrderLineId={ leaseDto.LeaseOrderLineId}" +
                $"&StartDate={ leaseDto.StartDate}" +
                $"&EndDate={ leaseDto.EndDate}" +
                $"&IsReturned={ leaseDto.IsReturned}" +
                $"&ResourceName={ leaseDto.ResourceName}" +
                $"&ResourcePrice={ leaseDto.ResourcePrice}" +
                $"&Quantity={ leaseDto.Quantity}", leaseDto);


            CheckIfFailed(response);

            if (everythingWentGood == true)
            {

                await js.InvokeVoidAsync("alert", $"Ordre linjen er nu opdateret!");
                ModalDialogService.Close(true);
                uriHelper.NavigateTo($"lease/details/{LeaseId.ToString()}");
            }
            else
            {
                await js.InvokeVoidAsync("alert", $"Noget gik galt! Prøv igen.");
            }

        }
        catch (Exception)
        {

            await js.InvokeVoidAsync("alert", $"Noget gik galt! Prøv igen.");
        }
        Isloading = false;
    }

    private void CheckIfFailed(HttpResponseMessage response)
    {
        if (!response.IsSuccessStatusCode)
        {
            everythingWentGood = false;
        }
    }
}