@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
@inject IModalDialogService ModalDialogService

<h3>Ændre i ordre linjen</h3>

<EditLeaseOrderLineForm ButtonText="Gem" LeaseOrderLineDetails="@LeaseOrderLineDetails"
           OnValidSubmit="@Edit" />
@if (Isloading == true)
{
    <i class="fa fa-circle-o-notch fa-spin myicons text-center mt-2" aria-hidden="true"></i>
}



@code {
    //[Parameter] public Guid LeaseId { get; set; }
    [Parameter] public Guid LeaseOrderLineId { get; set; }

    //LeaseViewModel.LeaseOrderDetails LeaseOrder = new LeaseViewModel.LeaseOrderDetails();

    LeaseViewModel.LeaseOrderLineDetails LeaseOrderLineDetails = new LeaseViewModel.LeaseOrderLineDetails();

    bool Isloading = false;
    bool everythingWentGood = true;

    protected async override Task OnParametersSetAsync()
    {
        Isloading = true;
        await GetLeaseOrderLine();
        Isloading = false;
    }

    async Task Edit()
    {
        Isloading = true;

        LeaseReadModelsDto.LeaseOrderLineDetails leaseDto = LeaseOrderLineDetailsMapper.Map(LeaseOrderLineDetails);

        try
        {
            HttpResponseMessage response = null;

            response = await http.PutAsJsonAsync
                ($"lease / leaseorderline ? LeaseOrderLineId ={ LeaseOrderLineId}" +
                $"&StartDate ={ leaseDto.StartDate}" +
                $"&EndDate ={ leaseDto.EndDate}" +
                $"&IsReturned ={ leaseDto.IsReturned}" +
                $"&ResourceName ={ leaseDto.ResourceName}" +
                $"&ResourcePrice ={ leaseDto.ResourcePrice}" +
                $"&Quantity ={ leaseDto.Quantity}", leaseDto);


            CheckIfFailed(response);

            if (everythingWentGood == true)
            {

                await js.InvokeVoidAsync("alert", $"Ordre linjen er nu opdateret!");
                ModalDialogService.Close(true);
                await GetLeaseOrderLine();
            }
            else
            {
                await js.InvokeVoidAsync("alert", $"Noget gik galt! Prøv igen.");
            }

        }
        catch (Exception)
        {

            await js.InvokeVoidAsync("alert", $"Noget gik galt! Prøv igen.");
        }


        Isloading = false;
    }

    private void CheckIfFailed(HttpResponseMessage response)
    {
        if (!response.IsSuccessStatusCode)
        {
            everythingWentGood = false;
        }
    }

    async Task GetLeaseOrderLine()
    {
        LeaseOrderLineDetails = await http.GetFromJsonAsync<LeaseViewModel.LeaseOrderLineDetails>($"gateway/lease/LeaseOrderLineId?LeaseOrderLineId={LeaseOrderLineId}");

        //LeaseDto.LeaseOrderLineDetails leaseOrderLineDetailsDto = await http.GetFromJsonAsync<LeaseDto.LeaseOrderLineDetails>($"gateway/lease/LeaseOrderLineId?LeaseOrderLineId={LeaseOrderLineId}");

        //LeaseOrderLineDetails = LeaseOrderLineDetailsMapper.Map(leaseOrderLineDetailsDto);
    }
}